//HashiCorp reaper specifick variables

# IAM user responsible for lifecycle of cloud resources used for training
# owner = XXX@hashicorp.com

# Reaper can automaticly put instances to sleep at night. Boolean value.
# sleep-at-night = true

# Time to live in hours
# TTL = 5

//Rest of the VARs
# SSH public key to use 
# ssh_public_key = XXX

# AWS region to deploy everything in
# aws_region = eu-central-1

# CIDR to use for the VPC and subnet
# cidr = 10.0.0.0/24


# allow_from = 

